@charset "UTF-8";
.stock_button{
    display: inline-block;
    
    display: inline-block;
    
}
.stock_button button{
    background-color: blue;
    color:white;
}
.stock_name {
    display: inline-block;    /* 横に並べる*/
    font-size: 22px;
}

.stock{
    border: solid 3px #000;
    
    
    height: 70px;
    padding: 10px;
    width:430px;
    background-color: blue;
} 
.stock_data {
    display: inline-block;
    color:aliceblue;
}
.clear{

    font-size: 35px;
    box-shadow: -10px 5px 5px #666666;
    margin-left: 100px;
    position: absolute;
    top: 100px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: white;
    width: 800px;
    height: 350px;
    z-index: 999;
    display: none;

}
.limit_time{
    font-size: 30px;
}
.day{
    font-size:80px;
}
#lineChart{
    height: 385px!important;
}
    



.timer{
    
     font-size: 30px;
}

.showing{
    
    
    font-size:30px;
    color:brown;
}
.stock_name{
    color: aqua;
}
.possession_number{
    color:red;
}
.stock_all{
    
  justify-content: center;
  align-items: center;
  
  

}
.result{
    vertical-align: top;
    display :inline-block;
}
.playingview{
    display: inline-block;
    width:450px;
}
.lineshow{
    display: inline-block;
    width:500px;
    vertical-align: top;
    background:#fff;
    width:570px;
    height: 385px;
}




body{
    background:#ffd750;
    width:1100px;
}
.showing{
    width:650px;
    display: inline-block;
    border-width:medium;
    border-style: double;
    height: 250px;
    vertical-align: top;

    
}
.collect{
    display:inline-block;
    border-width:medium;
    border-style: double;
    width:350px;
    padding:1px 5px 5px;
    height: 250px;
    vertical-align: top;
    color:darkblue;
    
}
.date{
    border-bottom: 2px dashed black;
}
