@charset "UTF-8";
.stock_button{
    display: inline-block;
    margin-left: 100px;
    display: inline-block;
    
}
.stock_button button{
    background-color: blue;
    color:white;
}
.stock_name {
    display: inline-block;    /* 横に並べる*/
    font-size: 22px;
}

.stock{
    border: solid 1px #000;
    border-radius: 5px;
    height: 80px;
    padding: 10px;
} 
.stock_data {
    display: inline-block;
}
.clear{
    margin-left:450px;
    font-size: 80px;
}
