@charset "UTF-8";
.stock_button{
    display: inline-block;
    
    display: inline-block;
    
}
.stock_button button{
    background-color: blue;
    color:white;
}
.stock_name {
    display: inline-block;    /* 横に並べる*/
    font-size: 22px;
}

.stock{
    border: solid 3px #000;
    
    
    height: 70px;
    padding: 10px;
    width:400px;
    background-color: blue;
} 
.stock_data {
    display: inline-block;
    color:aliceblue;
}
.clear{

    font-size: 35px;
}
.limit_time{
    font-size: 30px;
}
.day{
    font-size:80px;
}
    



.timer{
    
     font-size: 30px;
}

.showing{
    
    font-size:30px;
}
.stock_name{
    color: aqua;
}
.possession_number{
    color:red;
}
.stock_all{
    
  justify-content: center;
  align-items: center;
  
  

}
.result{
    vertical-align: top;
    display :inline-block;
}
.playingview{
    display: inline-block;
}
.lineshow{
    display: inline-block;
    width:500px;
    vertical-align: top;
}




